@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;700;900&display=swap');

:root{
    --White: hsl(0, 0%, 100%);
    --bg-Light-gray: hsl(212, 45%, 89%);
    --bg-footer-Light-gray: hsl(212, 60%, 80%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
    font-size: 93.75%
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;

}

li{
    list-style: none;

}

a{
    text-decoration: none;
    color: rgb(7, 7, 43);
    font-weight: 700;
}

a:hover{
    text-decoration: underline;
}


.flex{
    display: flex;
}

